.formRow {
    background-image: url(../../publicImages/images/bg.jpg);
    color: #333;
    background-position:bottom right;
    background-size: cover;
    /* height:100vh; */
}

.formCol {
    margin: 100px;
    background-color: transparent;
    padding: 50px 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.star {
    color: red;
}

.formItem {
    margin: 30px;
    text-align: right;
    font-size: 600;
}

.input {
    outline: none;
    border: 1px solid #ccc;
    max-width: 250px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
}

.input:focus {
    border: 1px solid skyblue;
    box-shadow: 1px 1px 5px skyblue;
}

.isValid {
    border: 1px solid red;
}