.formRow{
    margin: 25px;
    background-color:#fff;
}
.formCol{
    background-color: #fff;
     padding: 25px;
     box-shadow:3px 5px 10px #ccc;
}
.star{
    color:red;
}
.formItem{
    margin:30px;
    text-align: right;
}
.input{
    outline: none;
    border:1px solid #ccc;
    max-width: 250px;
}
.input:focus{
    border:1px solid skyblue;
    box-shadow: 1px 1px 5px skyblue;
}
.isValid{
    border:1px solid red;
}