.container{
    margin:10px;
    padding:15px;
    background-color: #fff;
}
.rangkingListBox{
    width: 250px;
    margin:10px;
    padding:15px;
    background-color:#fff;
}
.rankingList{
    width:100%;
    margin-top:10px;
    padding:0;
}
.rankingList li{
    width:100%;
    padding:5px;
    font-size: 0.8rem;
    font-weight: 500;
    list-style: none;
    text-align: left;
    border-bottom:1px solid #ccc;
}
.rankingList li a{
    color:#333;
}
.rankingList li a:hover{
    color:crimson;
}
.top{
    color:#333;
    /* padding:10px; */
    font-size: 1.5rem;
    font-weight: 600;
}
.rankingListImgs{
    width:300px;
    height:150px;
}
