.container_info{
    background-color:#fff;
    
}
.container_title{
    height: 100vh;
    padding:10px;
    margin:20px;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
}
.container_top{
    height:150px;
    background-image: url('../../publicImages/images/rotationCard3.jpg');
    background-position: center;
}
.infoItem{
    margin:2rem;font-weight: 600;
}
.infoItem span{
display: inline-block;
width:150px;
text-align: left;
font-weight: 500;
}
.topImg{
    width: 100vw;
    /* transform: rotate(180deg); */
    background-image: url('../../publicImages/images/flowerTop.jpg');
}
.setup_container{
    height: 80vh;
    background-image: url('../../publicImages/images/main-img.jpeg');
    background-size: cover;
}
.setup_form{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
.paddingItem{
    margin-left: 20px;
}
.paddingItem input{
    width:20px;
    height: 20px;
}
.setform{
    font-size: 1rem;
}
.setup_form_item{
    margin:2rem;
}
.setup_form_item input{
    outline: none;
    border: 1px solid skyblue;
    background-color: rgba(255, 255, 255, .15);
}
.setup_form_item button{
    margin:5px;
}