.conBtn{
    margin:10px;
}
.commentForm{
    height:80px;
    padding:0;
    margin:0;
    margin-left:5px;
}
.articlesTextarea{
    width:50vw;
    height:100%;
    border:1px solid #d9d9d9;
    outline: none;
}
.articlesSubmitBtn{
    margin-left:5px;
}
.content_article,.comments{
    width:80vw;
}
.comment{
    margin:50px 0;
}
.content_padding{
    padding-left: 100px;
}